<footer class="footer" role="contentinfo">
  <p>Content creanted under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"> Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. No tracking</p>
</footer>
