<footer class="footer" role="contentinfo">
  <p>Content created under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"> Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. <a href="/blog/2020/02/27/i-am-not-tracking-you">No tracking</a>.</p>
</footer>

<script src="/js/site.js"></script>
