<header>
  <nav class="nav" role="navigation">
    <a href="/">Home</a>
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="/about">About</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/blog">Blog</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/blog">Contact</a>
      </li>
    </ul>
  </nav>
</header>
