<header>
  <nav class="nav" role="navigation">
    <a href="/" class="nav__home-link" title="Home">
      {% include "logo.njk" %}
    </a>
    <button type="button" id="open-nav-menu" class="nav__btn nav__btn--open">Menu</button>
    <div class="nav__flyout" id="nav-flyout">
      <button type="button" id="close-nav-menu" class="nav__btn nav__btn--close">Close</button>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="/about">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="/blog">Blog</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="/blog">Contact</a>
        </li>
      </ul>
    </div>

  </nav>
</header>
