html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  @include font-sizes('base');
  font-family: $font-sans;
  font-weight: $font-weight-normal;
  line-height: 1.65;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1.804rem;
}

/* Multiple properties with same values */
h1,
h2,
h3,
h4,
h5 {
  color: $color-olive-dark;
  font-family: $font-serif;
  font-weight: $font-weight-medium;
  line-height: 1.15;
  margin: 4.4rem 0 1.68rem;
}

h1 {
  @include font-sizes('h1');
  font-weight: $font-weight-black;
  margin-top: 0;
}

h2 {
  @include font-sizes('h2');
}

h3 {
  @include font-sizes('h3');
}

h4 {
  @include font-sizes('h4');
}

h5 {
  @include font-sizes('h5');
}

h6 {
  @include font-sizes('h6');
}

a {
  color: $color-link;
}

a:hover,
a:focus {
  color: $color-link-hover;
}

a:visited {
  color: $color-link-visited;
}

.site-wrap {
  margin: 0 auto;
  padding: 0 units(3);
}

.site-wrap--contain {
  max-width: 1200px;
}
