---
layout: blog-index
title:  "Blog"
permalink: "/blog/"
---

<ul class="article-list">
{%- for post in collections.post | reverse -%}
  <li class="article-list__item">
    <h2 class="article-list__heading">
      <a href="{{ post.url }}" class="article-list__link">{{ post.data.title }}</a>
    </h2>
    <p class="article-list__excerpt">{{ post.data.excerpt }}</p>
    <p class="article-list__date">Posted on {{ post.date.toDateString().split(' ').slice(1).join(' ') }}</p>
  </li>
{%- endfor -%}
</ul>
