@import "bourbon/bourbon";
@import "_modules/all";

/*=============================================================================
	POST HEADINGS
========================================================================== */
.post {
	@include rem_units(padding, 4, 0, 15);
	@include respond-to(expansionA) {
		@include rem_units(padding, 6, 0, 15);
	}
	@include respond-to(expansionB) {
		@include rem_units(padding, 10, 0, 15);
	}
}

/*=============================================================================
	POST HEADINGS
========================================================================== */
.post-heading {
	@include altTypefaceBold;
	@include rem_units(font-size, 3.2);
	@include rem_units(padding-bottom, 2);
	text-align:center;
	border-bottom:1px solid #d2d8d5;
	width:80%;
	margin:0 auto;
	@include rem_units(margin-bottom, 6);
	position:relative;
	letter-spacing:.07em;
	@include respond-to(expansionA) {
		@include rem_units(font-size, 4.2);
	}
	@include respond-to(expansionB) {
		@include rem_units(font-size, 5.2);
		width: 65%;
	}
	@include respond-to(expansionC) {
		@include rem_units(font-size, 7.8);
		width: 75%;
	}
	&:after {
		content:"";
		font-size:0;
		background: #d2d8d5;
		display:block;
		position:absolute;
		bottom:2px;
		height:1px;
		width:100%;
	}
	h1 {
		text-transform:uppercase;
  		line-height:1;
  		font-size: 1em;
  		margin-bottom: 0;
	}
}

/*Custom Headings*/
.custom-heading {
	position: relative;
	margin-bottom: 1em;
}

.post-flush-top {
 	padding-top:0;
}

/*=============================================================================
	POST CONTENT
========================================================================== */
.post-content {
	@include rem_units(font-size, 1.6);
	line-height: 1.5;
	@include respond-to(expansionA) {
		@include rem_units(font-size, 1.8);
	}
	@include respond-to(expansionB) {
		@include rem_units(font-size, 2);
	}
	@include respond-to(expansionC) {
		@include rem_units(font-size, 2.2);
	}
	.wrap {
		@include respond-to(expansionA) {
			padding-left: $grid_1of12cols + $gutterWidth;
			padding-right: $grid_1of12cols + $gutterWidth;
		}
		@include respond-to(expansionC) {
			padding-left: $grid_2of12cols + $gutterWidth;
			padding-right: $grid_2of12cols + $gutterWidth;
		}
	}
	h2,
	h3,
	h4 {
		@include primaryTypeface;
	}
	h2 {
		padding-top: 1.5em;
		font-size: 1.6em;
  		text-align:center;
	}
	h3 {
		font-size: 1.3em;
		line-height: 1.5;
	}
	p,
	ul,
	ol,
	table,
	pre {
		margin-bottom: 1.5em;
	}
	p.intro {
		font-style: italic;
  		color: #999999;
	}
	ul > li,
	ol > li {
		margin-bottom: .25em;
  		position:relative;
  		padding-left:20px;
	}
	ul > li:before {
		content:"";
		text-indent: -999em;
		width:.5em;
		height:.5em;
		border-radius:50%;
		position:absolute;
		left:0;
		top:.4em;
		background: #cecece;
	}
	a:hover {
		text-decoration:underline;
	}
	figure {
		margin-bottom: 3em;
		img {
			width:100%;
  			display:block;
		}
		figcaption {
			color: #666;
			font-style:italic;
			font-size: 80%;
			text-align: center;
			padding-top: .5em;
		}
	}
	figure.border img {
		border: 1px solid #cecece;
	}
	iframe {
	    margin: 0 auto .5em !important;
	}
	pre[class*=language-] {
		margin: 2em 0 3em;
	}
	.gist {
		font-size:.75em;
		margin: 3em 0;
		@include respond-to(expansionA) {
			margin-left: 8.596491228%;
			margin-right: 8.596491228%;
		}
		@include respond-to(expansionC) {
			margin-left: 17.192982456%;
			margin-right: 17.192982456%;
		}
	}
	.narrow {
		@include respond-to(expansionA) {
			padding: 0 8.596491228%;
		}
		@include respond-to(expansionB) {
			padding: 0 25.789473684%;
		}
	}
}


/*Full Bleed Images*/
.fullbleed-img {
	width:100%;
	display:block;
	margin-bottom:1.5em;
}

/*=============================================================================
   POST DATE
========================================================================== */
.post-date {
	@include rem_units(font-size, 1.6);
	text-align:center;
	color: #666;
	font-style: italic;
	padding-top: 2em;
}

/*=============================================================================
   COMMENTS
========================================================================== */
.comments {
	padding-bottom: 100px;
	.wrap {
		@include respond-to(expansionA) {
			padding-left: $grid_1of12cols + $gutterWidth;
			padding-right: $grid_1of12cols + $gutterWidth;
		}
		@include respond-to(expansionC) {
			padding-left: $grid_2of12cols + $gutterWidth;
			padding-right: $grid_2of12cols + $gutterWidth;
		}
	}
}
