@import "bourbon/bourbon";
@import "_modules/all";

/*Header Image*/
.header-img {
	display:block; 
	width:100%;
}

/*Logo*/
.site-logo {
	@include respond-to(expansionA) {
		float:left;
		margin-right:0;
		margin-left:0;
		margin-bottom:14px;
	}
	img {
		display:block;
		width:100%;
	}
}


/*Main Nav*/
.primary-nav {
	@include altTypefaceBold;
	@include rem_units(font-size, 1);
	letter-spacing:.07em;
	padding-top:24px;
	padding-top:0;
	@include respond-to(expansionA) {
		@include rem_units(font-size, 1.6);
		float:none;
		width:100%;
		padding-top:9px;
	}
	ul {
		text-align:center;
		@include respond-to(expansionA) {
		    float:none;
		    text-align:left;
		}
		li {
			display:inline-block;
			a {
				display:block;
				text-transform:uppercase;
				font-size:1.3em;
				padding: .75em 10px;
				color: $teal;
				@include respond-to(expansionA){
					font-size:1.5em;
					padding: 1em 15px;
				}
				&:hover {
					color: #ffffff;
				}
			}
		}
	}
}


/*homepage masthead==================================================*/
.expanded-masthead {
	background:rgba(0,0,0,.73);
	@include transform(translate3d(0,0,0));
}

.expanded-header {
	background:rgba(0,0,0,.73);
	box-shadow: 1px 0 0 rgba(255,255,255,.07);
	text-align:center;
	@include respond-to(expansionA) {
		@include user-select(none);
		@include animation-name(slideIn, fadeIn);
		@include animation-delay(.5s);
		@include animation-duration(.3s);
		@include animation-timing-function(ease);
		position:absolute;
		width:50%;
		height:100%;
	}
	* {
		@include respond-to(expansionA) {
			@include animation-name(fadeIn);
			@include animation-duration(2s);
			@include animation-timing-function(ease);
		}
	}
	.site-logo {
		width:50%;
		text-align:center;
		margin:0 auto .25em;
		display:block;
		float:none;
		padding-top:.5em;
		@include respond-to(expansionA) {
			width:78%;
			margin:20% auto 1em;
			padding-top:0;
		}
		@include respond-to(expansionB) {
			width:65%;
			margin-top:25%;
		}
		@include respond-to(expansionC) {
			width:78%
		}
	}
	.primary-nav {
		padding-top:0;
		float:none;
		@include respond-to(expansionA) {
			position:absolute;
			top:0;
			width:100%;
			background: rgba(41,48,49,.32);
			border-left:none;
		}
		ul {
			text-align:center;
			li {
				display:inline-block;
				a {
					padding: .75em 10px;
					@include respond-to(expansionA) {
						@include rem_units(font-size, 2.2);
						padding:.75em 10px;
					}
					@include respond-to(expansionC) {
						@include rem_units(font-size, 3);
						padding: 1em 15px;
					}
					@include respond-to(expansionD) {
						@include rem_units(font-size, 4);
						padding: 1.25em 20px 1em;
					}
				}
			}
		}
	}
	.desc {
		@include hidden;
		@include respond-to(expansionA) {
			@include rem_units(font-size, 1.4);
			color:#e3ece9;
			border-top: 1px solid rgba(177,188,183,.11);
			border-bottom: 1px solid rgba(177,188,183,.11);
			position:relative;
			left:0;
			padding: 1.50em 0;
			width:75%;
			margin:0 auto 2em;
			&:before,
			&:after {
				content:"";
				font-size:0;
				background: rgba(177,188,183,.11);
				display:block;
				position:absolute;
				height:1px;
				width:100%;
			}
			&:before {
			  	top:2px;
			}
			&:after {
			  	bottom:2px;
			}
		}
		@include respond-to(expansionB) {
			@include rem_units(font-size, 1.6);
		}
		@include respond-to(expansionC) {
			@include rem_units(font-size, 1.8);
		}
		@include respond-to(expansionD) {
			@include rem_units(font-size, 2.2);
		}
		p {
			@include respond-to(expansionA) {
				padding: 0 9%;
				line-height:1.5;
			}
		}
	}
	p.twitter {
		@include hidden;
		@include respond-to(expansionA) {
			position: static;
			@include rem_units(font-size, 1.6);
		}
		@include respond-to(expansionD) {
			@include rem_units(font-size, 2);
		}
		a {
			color: #abb7b4;
		}
		a:before {
			font-size: 150%;
			color: $teal;
		}
	}
}

/*Large header image*/
.display-heading {
	width:100%;
	display:block;
	@include respond-to(expansionA) {
		@include user-select(none);
		@include animation-name(blurIn);
		@include animation-duration(.5s);
		@include animation-timing-function(ease);
		pointer-events:none;
	}
}






/*min header==================================================*/
.min-header {
	background:#fff;
	border-bottom:1px solid #f1f1f1;
	box-shadow:none;
	.wrap {
		max-width:none;
	}
	.site-logo {
		max-width:40px;
		position:relative;
		margin:28px auto 0;
		@include respond-to(expansionA) {
			margin-bottom:0;
			margin-right:15px;
		}
	}
	.primary-nav ul li a {
		color: #444444;
		&:hover {
			color: $teal;
		}
	}
}

