@import "bourbon/bourbon";
@import "_modules/all";


/* ==========================================================================
   ICONS
   ========================================================================== */
@font-face {
  font-family: 'jaredcunhaiconsmedium';
  src: url('/assets/fonts/jaredcunhaicons-webfont.eot');
  src: url('/assets/fonts/jaredcunhaicons-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/jaredcunhaicons-webfont.woff') format('woff'),
       url('/assets/fonts/jaredcunhaicons-webfont.ttf') format('truetype'),
       url('/assets/fonts/jaredcunhaicons-webfont.svg#jaredcunhaiconsmedium') format('svg');
  font-weight: normal !important;
  font-style: normal !important;

}

.jc-i-content{
  font-family: jaredcunhaiconsmedium;
  margin-right: 10px;
  speak: none;
}

/*Initial*/
.jc-i:before {
  font-family: jaredcunhaiconsmedium;
  margin-right: 10px;
  speak: none;
}

/*Replace text completely*/
.jc-i-replace {
  text-indent: -999em;
  display: inline-block;
  position: relative;
  min-width: 1em;
  max-width: 1em;
}

.jc-i-replace:before {
  position: absolute;
  left: 0;
  top: 0;
  text-indent: 0;
  margin-right: 0;
}

/*Characters*/
.jc-i-twitter:before {
  content: "A";
}

.jc-i-facebook:before {
  content: "B";
}

.jc-i-foursquare:before {
  content: "C";
}

.jc-i-dribbble:before {
  content: "D";
}

.jc-i-flickr:before {
  content: "E";
}

.jc-i-feed:before {
  content: "F";
}

.jc-i-github:before {
  content: "G";
}

.jc-i-instagram:before {
  content: "H";
}

.jc-i-linkedin:before {
  content: "I";
}