@import "bourbon/bourbon";
@import "_modules/all";

/*Introduction*/
.section-introduction .text-columns {
	@include clearfix;
	padding-bottom: 2.125em;
	@include respond-to(expansionC) {
		padding-bottom: 5.25em;
	}
	p {
		@include rem_units(font-size, 1.4);
		margin-bottom: 1em;
  		line-height:1.5;
  		@include respond-to(expansionA) {
  			@include rem_units(font-size, 1.6);
			float: left;
			width: $grid_6of12cols;
			margin-bottom:0;
		}
		@include respond-to(expansionB) {
			width: $grid_5of12cols;
			margin-left: $grid_1of12cols + $gutterWidth;
			@include rem_units(font-size, 1.8);
		}
		&+ p {
			margin-bottom: 0;
			@include respond-to(expansionA) {
				float:right;
				margin-left:0;
			}
			@include respond-to(expansionB) {
				margin-right: $grid_1of12cols + $gutterWidth;
				margin-left:0;
			}
		}
	}
}
