@import "bourbon/bourbon";
@import "_modules/all";


@include keyframes(blurIn) {
  from {
    -webkit-filter: blur(10px);
  }
  to {
    -webkit-filter: blur(0);
  }
}


@include keyframes(slideIn) {
  from {
    @include transform(translate3d(-100%,0,0));
  }
  to {
    @include transform(translate3d(0));
  }
}


@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}