@import "bourbon/bourbon";
@import "_modules/all";

/*Selected Work*/
.selected-work {
  @include clearfix;
  li {
    margin-bottom:18px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,.15);
    @include respond-to(expansionA) {
      float:left;
      margin-bottom:36px;
      margin-right: $gutterWidth;
    }
    a {
      display:block;
    }
    img {
      display:block;
      width:100%;
    }
  }
  li.small {
    @include respond-to(expansionA) {
      width: $grid_3of12cols;
    }
  }
  li.medium {
    @include respond-to(expansionA) {
      width: $grid_6of12cols;
    }
  }
  li:last-child {
    @include respond-to(expansionA) {
      margin-right: 0;
    }
  }
}