<footer class="site-footer">
      <div class="wrap">
          <div class="footer-logo"><a href="/"></a></div>
            <nav>
                <ul>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/work/">Work</a></li>
                    <li><a href="mailto:jaredcunha@gmail.com">Contact</a></li>
                </ul>
            </nav>
            <small>&copy; {{ site.time | date: '%Y' }} Jared Cunha. All rights reserved. </small>
        </div><!--/.wrap-->
    </footer><!--/.site-footer-->

<script src="{{ "/assets/js/global.js" | prepend: site.baseurl }}"></script>

<script>

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30090803-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
