<div class="masthead">
    <header class="min-header">
        <div class="wrap">
            <h1 role="banner" class="site-logo"><a href="/"><img src="/assets/images/logo-sm.png" alt="Jared Cunha"/></a></h1>
            <nav class="primary-nav">
            <ul>
                <li><a href="/about/">About</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/work/">Work</a></li>
                <li><a href="mailto:jaredcunha@gmail.com">Contact</a></li>
            </ul>
        </nav>
        </div><!--/.wrap-->
    </header>
</div><!--/.masthead-->
