{% extends "../templates/_template.njk" %}

{% block main %}


    <header class="banner banner--blog">
      <div class="post">
        <h1 class="banner__heading">Blog</h1>
      </div>
    </header>

    <div class="post">
      {{ content | safe }}
    </div>

{% endblock %}
