<!doctype html>
<html lang="en">
<head>
  {% include "head.njk" %}
</head>
<body>
  <a class="skipnav" href="#main-content">Skip to main content</a>
  {% include "redesign-banner.njk" %}
  {% include "nav.njk" %}
  <main role="main" id="main-content">
    <artcile class="post">
      <h1>{{ title }}</h1>
      <p>{{ page.date.toDateString().split(' ').slice(1).join(' ') }}</p>
      {{ content | safe }}
    </artcile>
  </main>
  {% include "footer.njk" %}
</body>
</html>
