<!doctype html>
<html lang="en">
<head>
  {% include "head.njk" %}
</head>
<body>
  <a class="skipnav" href="#main-content">Skip to main content</a>
  {% include "redesign-banner.njk" %}
  <main role="main" id="main-content">
    <article class="post">
      {{ content | safe }}
    </article>
  </main>
  {% include "footer.njk" %}
</body>
</html>
