{% extends "../templates/_template.njk" %}

{% block main %}
  <article>
    <div class="hero">
      <h1 class="hero__heading">
        <span class="hero__heading__tagline">Hello, I’m</span>
        Jared Cunha
      </h1>
      <p class="hero__intro">I’m a designer and engineer who loves working on ethical technology&nbsp;projects.</p>
      <div class="hero__feature">
        {% image "me.png", "", "hero__img" %}
      </div>
    </div>

    <section class="recent-posts site-wrap site-wrap--contain">
      <h2 class="landing__section-header">Recent blog posts</h2>
      <ul class="article-list article-list--grid">
      {%- for post in collections.post | reverse -%}
        {% if loop.index0 < 4 %}
        <li class="article-list__item">
          <h3 class="article-list__heading">
            <a href="{{ post.url }}" class="article-list__link">{{ post.data.title }}</a>
          </h3>
          <p class="article-list__excerpt">{{ post.data.excerpt }}</p>
          <p class="article-list__date">Posted on {{ post.date.toDateString().split(' ').slice(1).join(' ') }}</p>
        </li>
        {% endif %}
      {%- endfor -%}
      </ul>
    </section>

  </article>
{% endblock %}
