.landing-page {
  background-color: color('green-warm-100');
  border: units(1) solid white;

  @include media('landscape') {
    @include media('>=tablet') {
      border-width: units(1.5);
    }
  }

  @include media('portrait') {
    @include media('>=tablet') {
      border-width: units(1.5);
    }
  }
}

.landing__section-header {
  @include font-sizes('h5');
  color: color('green-warm-700');
  display: inline-block;
  font-weight: 900;
  padding-top: 0.5em;
  padding-right: 2ch;

  @include media('>=desktop-lg') {
    margin-bottom: 0;
  }
}
