/* ==========================================================================
   TYPE
   ========================================================================== */
@mixin primaryTypeface {
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
}

@mixin altTypefaceRegular {
  font-family: "nimbus-sans-condensed-1","nimbus-sans-condensed-2",sans-serif; 
  font-weight:400; 
}

@mixin altTypefaceBold {
  font-family: "nimbus-sans-condensed-1","nimbus-sans-condensed-2",sans-serif; 
  font-weight:600; 
}