.article-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-list__item {
  border-bottom: 1px solid $color-olive-light;
  margin: units(-5) 0 units(5);
  padding: units(5) 0;

  @include media('>=desktop-lg') {
    border-bottom: 0;
    margin-top: units(1);
    padding-top: 0;
  }
}

.article-list__heading {
  margin: 0;
  @include media('>=desktop-lg') {
    @include font-sizes('h4');
  }
}

.article-list__link,
.article-list__link:visited {
  color: $color-base;
  text-decoration: none;
}

.article-list__link:hover,
.article-list__link:focus {
  color: $color-link-hover;
}

.article-list__excerpt {
  margin-bottom: 0;
  @include media('>=desktop-lg') {
    @include font-sizes('small');
  }
}

.article-list__date {
  color: $color-base-muted;
  font-size: $base_sm;
}

/*=========================
Variants
===========================*/
.article-list--grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: units(5);

  @include media('>=tablet') {
    grid-template-columns: 1fr 1fr;
  }
  @include media('>=desktop-lg') {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
