.hero {
  text-align: center;
}

.hero__heading {
  color: $color-olive-light;
  font-size: 10vw;
  opacity: .73;
  text-transform: uppercase;
}

.hero__heading__tagline {
  @include font-sizes('base');
  color: $color-vino-light;
  display: block;
  text-transform: none;
  @include media('>=tablet') {
    @include font-sizes('h3');
  }
}
