.hero {
  align-items: center;
  display: flex;
  margin-top: units(5);
  margin-bottom: units(5);
  flex-direction: column;

  @include media('>=tablet') {
    flex-direction: row;
  }

  @include media('>=desktop-lg') {
    margin-top: units(8);
    margin-bottom: units(8);
  }
}

.hero__heading {
  @include font-sizes('h3');
  color: color('green-warm-900');
  font-family: kazimir, sans-serif;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 0;

  @include media('>=tablet') {
    max-width: 24ch;
    @include font-sizes('h1');
  }
}

.hero__heading__tagline {
  @include font-sizes('h4');
  color: color('red-600');
  display: block;
  font-weight: 700;
  text-transform: none;
  @include media('>=tablet') {
    @include font-sizes('h3');
  }
}

.hero__intro {
  color: color('green-warm-800');

  max-width: 66ch;
  @include media('>=tablet') {
    @include font-sizes('h5');
    margin: units(1) 0;
  }
}

.hero__feature {
  margin-right: units(2);
  margin-bottom: units(3);
  max-width: 200px;
  @include media('>=nav') {
    max-width: 250px;
  }
}

.hero__img {
  display: block;
  width: 100%;
}
