:root {
  --gap: 2rem;
  --content-width: 800px;

  @include media('>=tablet') {
    --gap: 5rem;
  }
}

.post {
  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--gap), auto) [wide-start] minmax(auto, 240px)
    [main-start] min(var(--content-width, 720px), calc(100% - var(--gap) * 2))
    [main-end] minmax(auto, 240px)
    [wide-end] minmax(var(--gap), auto) [full-end];

  > p,
  > ul,
  > ol,
  > blockquote,
  > div,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > figure,
  > table,
  > hr,
  > pre,
  > code {
    grid-column: 3;
  }

  > h1 {
    color: $color-base;
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: center;
  }

  > hr {
    border-color: #dfede3;
    border-style: solid;
    border-width: 1px;
    width: 100%;
  }

  > pre {
    overflow: auto;
    word-wrap: break-word;
  }

  > figure {
    margin-bottom: units(3);
    img {
      width: 100%;
    }
    figcaption {
      @include font-sizes('small');
      margin-top: units(2);
      text-align: center;
    }
  }

  > .fullbleed {
    grid-column: full-start/full-end;
  }

  > .wide {
    grid-column: wide-start/wide-end;
  }

  > p div,
  li div:has(code[class*='language-']) {
    display: inline;
  }
}
