.redesign-banner {
  background-color: #aaB6ad;
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 57ch)
    minmax(1.2rem, 1fr);
  padding: 8px 0;

  span {
    @include font-sizes('small');
    grid-column: 2;
  }

  a,
  a:visited {
    color: #0000ed;
  }
}
